body {
  background-color: #d9aeb1;
  margin:0;
  font-family: Arial, sans-serif;
  align-items: center;
  display: flex;
  padding: 2rem;
}


.recipe-card{
    background-color: white;
    max-width:700px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}

.recipe-card img.header-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.recipe-card h2 {
  color: #c30000;
  margin-top: 1rem;
}

.recipe-card p.description {
  background-color: #f1f1f1;
  padding: 0.5rem;
}

.recipe-card .serving-suggestions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.recipe-card .serving-suggestions img {
  width: 100%;
  max-width: 48%;
  object-fit: cover;
}